<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.boardMapper">

	<insert id="create" parameterType="BoardVO">
		insert into	tbl_board(title,content,writer) values (#{title},#{content},#{writer})
	</insert>
	
	<select id="read" resultType="BoardVO">
		select bno,title,content,writer,regdate, viewcnt from tbl_board where bno =	#{bNo}
	</select>
	
	<update id="update">
		update tbl_board set title=#{title}, content=#{content} where bno= #{bNo}
	</update>
	
	<delete id="delete">
		delete from tbl_board where bno = #{bNo}
	</delete>
	
	<insert id="addAttach">
		insert into tbl_attach(fullName, bNo) values (#{fullName},LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
		select fullName from tbl_attach where bno = #{bNo} order by regdate
	</select>
	
	<delete id="deleteAttach">
		delete from tbl_attach where bno =#{bNo}
	</delete>
	
	<insert id="replaceAttach">
		insert into tbl_attach(fullName,bNo) values (#{fullName},#{bNo})
	</insert>

	<select id="listAll" resultType="BoardVO">
	<![CDATA[
		select bno, title, content, writer, regdate,viewcnt from tbl_board
	]]>
	</select>
	<select id="listPage" resultType="BoardVO">
	<![CDATA[
		select bno, title, content, writer, regdate,viewcnt from tbl_board where bno > 0 order by bno desc, regdate desc limit #{page}, 10 
	]]>
	</select>
	<select id="listCriteria" resultType="BoardVO">
	<![CDATA[
		select bno, title, content, writer, regdate,viewcnt,replycnt from tbl_board where bno > 0 order by bno desc, regdate desc limit #{pageStart}, #{perPageNum} 
	]]>
	</select>
	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(bno) from tbl_board where bno > 0
	]]>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="BoardVO">
	<![CDATA[  
 	 select *  from tbl_board  where bno > 0 
	]]>
	<include refid="search"></include>
	<![CDATA[    
  	order by bno desc  limit #{pageStart}, #{perPageNum}
	]]>
	</select>

	<select id="listSearchCount" resultType="int">
	<![CDATA[  
  	select count(bno) from tbl_board where bno > 0 
	]]>
	<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
	update tbl_board set replycnt = replycnt + #{amount} where bno = #{bNo}
	</update>
	
	<update id="updateViewCnt">
	update tbl_board set viewcnt = viewcnt +1 where bno = #{bNo}
	</update>

</mapper>